body {
  font-family: "Rubik", sans-serif;
  background: rgb(255, 158, 0);
  background: linear-gradient(
    45deg,
    rgba(255, 158, 0, 1) 7%,
    rgba(255, 98, 0, 1) 45%
  );
}

.game__player {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.game {
  height: calc(100vh - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game__player-item {
  background-color: rgba(255, 255, 255, 0.3);
  width: 250px;
  height: 300px;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.actual {
  background-color: rgba(255, 255, 255, 0.65);
}

.game__player__second {
  /* background-color: rgba(255, 255, 255, 0.3); */
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.current-scorepoints {
  text-transform: uppercase;
  font-size: 10px;
  background-color: #ff6200;
  border-radius: 5px;
  width: 40%;
  margin: 70px auto;
  color: #fff;
  padding: 10px;
}

.scorepoints {
  color: #ff6200;
  font-size: 35px;
  margin: 0;
}

h2 {
  margin: 40px 0 10px 0;
  font-size: 16px;
  font-weight: 400;
}

.scoreboard {
  font-size: 15px;
  margin: 10px 0 0 0;
}

p {
  margin: 0;
}

.para {
  font-size: 8px;
}

.game {
  position: relative;
}

.btn {
  border: 0;
  padding: 5px 14px;
  font-size: 8px;
  border-radius: 10px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.75);
}

.btn-newgame::before {
  content: "🐷";
  margin-right: 4px;
}

.btn-newgame {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
}

.btn-dish {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.btn-dish::before {
  content: "🎲";
  margin-right: 4px;
}

.btn-stay {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.btn-stay::before {
  content: "👌";
  margin-right: 4px;
}

.dice-position-active {
  position: absolute;
  height: 50px;
  top: 44%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 6px;
}

.hidden {
  display: none;
}

.show-modal-window {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: rgb(18, 208, 221);
  color: rgb(13, 10, 232);
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal-window {
  position: absolute;
  top: 4rem;
  right: 2rem;
  font-size: 3rem;
  color: #444;
  cursor: pointer;
  border: none;
  background: none;
}

/* Classes for modal windows functionality */
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  text-align: center;
  background-color: #fff;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden-window {
  display: none;
}

.piggy {
  font-size: 5rem;
  margin: 0;
}

.btn-orange {
  background-color: #ff6200;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 6px;
  margin-top: 45px;
  padding: 5px 10px;
}
